# dependencies
node_modules/
**/node_modules/

# env files
.env
.env.*
!.env.example
!.env.*.example
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example

# build outputs
dist/
**/dist/
build/
**/build/

# misc
.DS_Store
